# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj -> I want to add Wavefront .obj files to the repository

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.vscode/